{% extends "layout.html" %}
{% block content %}
    <h2 class="mb-2">What would you like to summarize?</h2>
    <p>TL;DR: summarize any text on the fly.</p>
    <div id="textarea-group">
        <form method="POST">
            {{ text_form.hidden_tag() }}

            {% if text_form.text.errors %}
                {{ text_form.text(class="form-control is-invalid", placeholder="Enter Website URL", placeholder="Type or place English text to summarize here.") }}
                <div class="invalid-feedback">
                    {% for error in text_form.text.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ text_form.text(class="form-control", placeholder="Enter Website URL", placeholder="Type or place English text to summarize here.") }}
            {% endif %}

            {{ text_form.submit_text(class="btn btn-primary mt-2") }}
        </form>
    </div>
    <div class="hr-sect">OR</div>
    <form method="POST">
        {{ website_form.hidden_tag() }}
        <div class="input-group">
            {{ website_form.websiteUrl(class="form-control form-control-lg", placeholder="Enter Website URL (beta)") }}
            <div class="input-group-append">
                {{ website_form.submit_website(class="btn btn-primary website-go-button") }}
            </div>
        </div>
    </form>

    {% if context and context.summary_dict %}
        <h2 class="mt-4 mb-2">Your TL;DR</h2>
        {% if context.minutes_saved %}
            <p>This {{ context.reduction_percentage }}% text reduction will save you {{ context.minutes_saved }} minutes. Way to go! 🎉</p>
        {% elif context.reduction_percentage %}
            <p>The text was reduced by {{ context.reduction_percentage }}%. Enjoy the extra time  💖</p>
        {% endif %}
        {% for header, summary in context.summary_dict.items() %}
        <div id="summary-section" >
          <input id="subscriptionKey" type="text" size="40" value="36e5268307b74c7d83a33fa4d6fd630a" hidden>
          <input id="serviceRegion" type="text" size="40" value="eastus" hidden></td>
            <textarea id="phraseDiv" style="display: inline-block;width:500px;height:200px" hidden>{{context.summary}}</textarea>
            <div class="card">
              <div class="card-header">
                {{ header }}
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>{{ summary }}</p>
                </blockquote>

                <button type="button" id="startSpeakTextAsyncButton" class="btn btn-primary float-right">
                    <i class="fa fa-play" aria-hidden="true"></i> Listen
                </button>

                <button type="button" id="copyText" class="btn btn-outline-secondary float-right mr-2">
                    <i class="fa fa-copy" aria-hidden="true"></i> Copy
                </button>
              </div>
            </div>
            <div align="right"><div id="resultDiv" class="text-success mt-2"></div>
        </div>
        {% endfor %}
    {% elif context and not context.summary_dict %}
        <p class="text-error mt-2">It looks like we weren't able to parse that. Maybe try with a different website.</p>
    {% endif %}
    <!-- <quickstartcode> -->
<!-- Speech SDK USAGE -->
<script>

  // status fields and start button in UI
  var phraseDiv;
  var resultDiv;
  var startSpeakTextAsyncButton;

  // subscription key and region for speech services.
  var subscriptionKey, serviceRegion;
  var authorizationToken;
  var SpeechSDK;
  var synthesizer;

  document.addEventListener("DOMContentLoaded", function () {
    startSpeakTextAsyncButton = document.getElementById("startSpeakTextAsyncButton");
    subscriptionKey = document.getElementById("subscriptionKey");
    serviceRegion = document.getElementById("serviceRegion");
    phraseDiv = document.getElementById("phraseDiv");
    resultDiv = document.getElementById("resultDiv");

    startSpeakTextAsyncButton.addEventListener("click", function () {
      var soundContext = undefined;
      try {
        var AudioContext = window.AudioContext || window.webkitAudioContext || false;
        if (AudioContext) {
          soundContext = new AudioContext();
        } else {
          alert("AudioContext not supported");
        }
      }
      catch(e){
        window.console.log("no sound context found, no audio output. " + e);
      }

      startSpeakTextAsyncButton.disabled = true;

      // if we got an authorization token, use the token. Otherwise use the provided subscription key
      var speechConfig;
      if (authorizationToken) {
        speechConfig = SpeechSDK.SpeechConfig.fromAuthorizationToken(authorizationToken, serviceRegion.value);
      } else {
        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          startSpeakTextAsyncButton.disabled = false;
          return;
        }
        speechConfig = SpeechSDK.SpeechConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);
      }

      synthesizer = new SpeechSDK.SpeechSynthesizer(speechConfig);

      resultDiv.innerHTML = "Downloading audio file...";

      var inputText = phraseDiv.value;
      synthesizer.speakTextAsync(
        inputText,
        function (result) {
          startSpeakTextAsyncButton.disabled = false;
          resultDiv.innerHTML = "";

          window.console.log(result);
          if (result.audioData && soundContext) {
            var source = soundContext.createBufferSource();
            soundContext.decodeAudioData(result.audioData, function (newBuffer) {
              source.buffer = newBuffer;
              source.connect(soundContext.destination);
              source.start(0);
            });
          }

          synthesizer.close();
          synthesizer = undefined;
        },
        function (err) {
          startSpeakTextAsyncButton.disabled = false;
          resultDiv.innerHTML += "Error: ";
          resultDiv.innerHTML += err;
          resultDiv.innerHTML += "\n";
          window.console.log(err);

          synthesizer.close();
          synthesizer = undefined;
        });
    });

    if (!!window.SpeechSDK) {
      SpeechSDK = window.SpeechSDK;
      startSpeakTextAsyncButton.disabled = false;

      document.getElementById('content').style.display = 'block';
      document.getElementById('warning').style.display = 'none';

      // in case we have a function for getting an authorization token, call it.
      if (typeof RequestAuthorizationToken === "function") {
        RequestAuthorizationToken();
      }
    }
  });
</script>
{% endblock content %}
