{% extends "layout.html" %}
{% block content %}
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter website URL"></input>
        <div class="input-group-append">
            <button id="website-go-button" class="btn btn-primary" type="button">Go</button>
        </div>
    </div>
    <div class="hr-sect">OR</div>
    <div id="textarea-group">
        <textarea type="text" class="form-control" placeholder="Type or place English text here."></textarea>
        <button class="btn btn-primary mt-2 float-right" type="button">Go</button>
    </div>
    <footer>
        <p class="footer float-center text-center">Made with ♥ in Africa, Canada, and Italy</p>
    </footer>
{% endblock content %}
