{% extends "layout.html" %}
{% block content %}  
  <div id="content" style="display:none">
      <p>{{ summary }}</p>
      <input id="subscriptionKey" type="text" size="40" value="<API_KEY>" hidden>
      <input id="serviceRegion" type="text" size="40" value="eastus" hidden></td>
      <button id="startSpeakTextAsyncButton" class="btn btn-success">Play Summary</button>
      <textarea id="phraseDiv" style="display: inline-block;width:500px;height:200px" hidden>{{summary}}</textarea>
      <br><br>
      <div align="left"><strong>Status:</strong> <span id="resultDiv" class="text-success"></div>
  </div>
  <!-- </uidiv> -->

  <!-- <speechsdkref> -->
  <!-- Speech SDK reference sdk. -->
<script src={{ url_for('static', filename="js/microsoft.cognitiveservices.speech.sdk.bundle.js")}}></script>
  <!-- </speechsdkref> -->

  <!-- <authorizationfunction> -->
  <!-- Speech SDK Authorization token -->
  <script>
  // Note: Replace the URL with a valid endpoint to retrieve
  //       authorization tokens for your subscription.
  var authorizationEndpoint = "token.php";

  function RequestAuthorizationToken() {
    if (authorizationEndpoint) {
      var a = new XMLHttpRequest();
      a.open("GET", authorizationEndpoint);
      a.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      a.send("");
      a.onload = function() {
        var token = JSON.parse(atob(this.responseText.split(".")[1]));
        serviceRegion.value = token.region;
        authorizationToken = this.responseText;
        subscriptionKey.disabled = true;
        subscriptionKey.value = "using authorization token (hit F5 to refresh)";
        console.log("Got an authorization token: " + token);
      }
    }
  }
  </script>
  <!-- </authorizationfunction> -->

  <!-- <quickstartcode> -->
  <!-- Speech SDK USAGE -->
  <script>
        
    // status fields and start button in UI
    var phraseDiv;
    var resultDiv;
    var startSpeakTextAsyncButton;

    // subscription key and region for speech services.
    var subscriptionKey, serviceRegion;
    var authorizationToken;
    var SpeechSDK;
    var synthesizer;

    document.addEventListener("DOMContentLoaded", function () {
      startSpeakTextAsyncButton = document.getElementById("startSpeakTextAsyncButton");
      subscriptionKey = document.getElementById("subscriptionKey");
      serviceRegion = document.getElementById("serviceRegion");
      phraseDiv = document.getElementById("phraseDiv");
      resultDiv = document.getElementById("resultDiv");

      startSpeakTextAsyncButton.addEventListener("click", function () {
        var soundContext = undefined;
        try {
          var AudioContext = window.AudioContext || window.webkitAudioContext || false;
          if (AudioContext) {
            soundContext = new AudioContext();
          } else {
            alert("AudioContext not supported");
          }
        }
        catch(e){
          window.console.log("no sound context found, no audio output. " + e);
        }
   
        startSpeakTextAsyncButton.disabled = true;

        // if we got an authorization token, use the token. Otherwise use the provided subscription key
        var speechConfig;
        if (authorizationToken) {
          speechConfig = SpeechSDK.SpeechConfig.fromAuthorizationToken(authorizationToken, serviceRegion.value);
        } else {
          if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
            alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
            startSpeakTextAsyncButton.disabled = false;
            return;
          }
          speechConfig = SpeechSDK.SpeechConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);
        }

        synthesizer = new SpeechSDK.SpeechSynthesizer(speechConfig);

        var inputText = phraseDiv.value;
        synthesizer.speakTextAsync(
          inputText,	  
          function (result) {
            startSpeakTextAsyncButton.disabled = false;
            resultDiv.innerHTML = "playing...";

            window.console.log(result);
            if (result.audioData && soundContext) {
              var source = soundContext.createBufferSource();
              soundContext.decodeAudioData(result.audioData, function (newBuffer) {
                source.buffer = newBuffer;
                source.connect(soundContext.destination);
                source.start(0);
              });
            }

            synthesizer.close();
            synthesizer = undefined;
          },
          function (err) {
            startSpeakTextAsyncButton.disabled = false;
            resultDiv.innerHTML += "Error: ";
            resultDiv.innerHTML += err;
            resultDiv.innerHTML += "\n";
            window.console.log(err);

            synthesizer.close();
            synthesizer = undefined;
          });
      });

      if (!!window.SpeechSDK) {
        SpeechSDK = window.SpeechSDK;
        startSpeakTextAsyncButton.disabled = false;

        document.getElementById('content').style.display = 'block';
        document.getElementById('warning').style.display = 'none';

        // in case we have a function for getting an authorization token, call it.
        if (typeof RequestAuthorizationToken === "function") {
          RequestAuthorizationToken();
        }
      }
    });
  
  
  </script>
  {% endblock content %}